{% extends 'admin/master.html' %}
{% block body %}
<p class="h3 text-center">CERT-ecosystem - сервис для работы с организациями.</p>

<p class="h6">Каким образом организации появляются в сервисе?</p>
<p>Организации добавляются в рабочее пространство либо через поиск в <abbr
  title="Единый государственный реестр юридических лиц">ЕГРЮЛ</abbr>, который расположен в правом верхнем углу, либо
  вручную (в случае,
  если организация не нашлась в ЕГРЮЛ).</p>
<hr>
<p class="h6">Порядок действий пользователя при работе с организациями:</p>
<ol>
  <li>Перейти на вкладку <a href="{{ url_for('organizations.index_view') }}"><em>"Организации"</em></a>.</li>
  <li>В окошке <em>"Название, ИНН, КПП"</em> ввести реквизиты искомой организации и нажать на кнопку <em>"Поиск"</em>.
  </li>
  <li>В случае, если организация найдена, можно продолжать работу с ней.</li>
  <li>В случае, если организация <strong>отсутствует</strong>, и пользователь уверен, что сделал достаточно для
    осуществления поиска
    (проверил по названию и по ИНН, например), перейти к следующему шагу.
  </li>
  <li>Ввести реквизиты организации (Наименование организации или ИНН или КПП или ОГРН) в окошке <em>"Поиск организации в
    ЕГРЮЛ"</em>.
    <br>В случае, если организация не нашлась по наименованию, рекомендуется
    <del>звонить и бежать сломя голову к администратору</del>
    повторить поиск по ИНН/ОГРН/КПП. У нескольких организаций могут встречаться одинаковые наименования, ОГРН
    (организация и ее филиалы имеют одинаковый ОГРН),
    КПП (если несколько организаций прикреплены к одной ИФНС России), а также ИНН (на этой стадии уже удивляться
    нечему).
  </li>
  <li>Добавить искомую организацию среди результатов поиска по ЕГРЮЛ, нажав на кнопку <em>"Добавить"</em>.</li>
  <li>Если искомая организация уже присутствует в рабочем пространстве, то напротив этой организации среди результатов
    поиска по ЕГРЮЛ будет написано <em>"Уже добавлена!".</em></li>
  <li>Визуально удостовериться, что добавлена именно та организация, которая искалась.</li>
</ol>
<hr>
<p class="h6">Что можно делать с уже добавленной организацией в рабочее пространство:</p>
<ol>
  <li>Редактировать реквизиты организации (у нужной <a
    href="{{ url_for('organizations.index_view') }}">организации</a> ищем значок <span
    class="fa fa-pencil glyphicon glyphicon-pencil"></span>).
  </li>
  <li>Зафиксировать ее организационно-распорядительные документы (у нужной <a
    href="{{ url_for('organizations.index_view') }}">организации</a> ищем значок <span
    class="fa fa-paperclip glyphicon glyphicon-paperclip"></span>).
  </li>
  <li>Создать письмо, содержащее методические документы (у нужной <a href="{{ url_for('organizations.index_view') }}">организации</a>
    ищем значок
    <span class="fa fa-envelope glyphicon glyphicon-envelope"></span>).<br>
    Если создаваемое письмо является ответом на запрос, а также указаны реквизиты запроса, то сервис создаст два письма
    - входящее (запрос) и исходящее (ответ). В случае, если письмо является инициативным, то заполнять раздел формы
    <em>"Реквизиты письма-запроса методических документов"</em> <strong>не нужно</strong>, и в этом случае будет создано
    только одно письмо -
    исходящее. Реквизиты исходящего письма <strong>НЕОБХОДИМО</strong> впоследствии заполнить отдельно как только его
    подпишут.
    <br>Если письмо необходимо по каким-либо причинам пересоздать (поменялся состав методических документов, например),
    то
    пользователь должен перейти на страницу
    <a
      href="{{ url_for('messages.index_view') }}"><em>"Письма"</em></a>, найти созданное(-ые) ранее им письмо(-а) и
    удалить его(-их). Для
    этого нужно выделить это(-и) письмо(-а), нажать на <em>"С выбранным"</em> и <em>"Удалить"</em>. После этого заново
    приступить к
    формированию документа.
  </li>
  <li>Фиксировать переписку с организацией (перейти на страницу <a
    href="{{ url_for('messages.index_view') }}">"Письма"</a>, нажать кнопку <em>"Создать"</em>, заполнить поля формы и
    ввести в поле
    <em>"Отправитель(-и)/получатель(-и)"</em> реквизиты организации.
  </li>
  <li>Добавлять информационные ресурсы организации (перейти на страницу <a href="{{ url_for('resources.index_view') }}">"Информационные
    ресурсы"</a>, нажать кнопку <em>"Создать"</em>, заполнить поля формы и ввести в поле <em>"Владелец"</em> реквизиты
    организации.
  </li>
</ol>
<hr>
<p class="h6">Пример работы фильтрации по организациям (применим для фильтрации по любым другим сущностям)</p>
<p><strong>Задача</strong>:</p>
<p>Найти коммерческие организации, расположенные в Северо-Кавказском федеральном округе,
но не в Кабардино-Балкарской Республике и не в Чеченской Республике,
у которых согласован документ "План реагирования по реагированию на план".</p>
<p><strong>Решение</strong>:</p>
<ol>
  <li>Перейти на вкладку <a href="{{ url_for('organizations.index_view') }}"><em>"Организации"</em></a>.</li>
  <li>Нажать на кнопку <em>"Добавить Фильтр"</em>.</li>
  <li>Выбрать фильтр <em>"Округ(-и) организаций"</em>, выбрать опцию <em>"в списке"</em> и в окошке рядом выбрать <em>"Северо-Кавказский"</em>.
  </li>
  <li>Нажать на кнопку <em>"Добавить Фильтр"</em>.</li>
  <li>Выбрать фильтр <em>"Регион(-ы) организаций"</em>, выбрать опцию <em>"не в списке"</em> и в окошке рядом
    последовательно выбрать <em>"Кабардино-Балкарская Республика"</em> и <em>"Чеченская Республика"</em>.
  </li>
  <li>Нажать на кнопку <em>"Добавить Фильтр"</em>.</li>
  <li>Выбрать фильтр <em>"ГОС"</em>, выбрать опцию <em>"равно"</em> и в окошке рядом
    выбрать <em>"Да"</em>.
  </li>
  <li>Нажать на кнопку <em>"Добавить Фильтр"</em>.</li>
  <li>Выбрать фильтр <em>"Наличие документа(-ов)"</em>, выбрать опцию <em>"в списке (логическое И)"</em> и в окошке рядом
    выбрать <em>"План реагирования по реагированию на план"</em>.
  <li>Нажать на кнопку <em>"Применить"</em> в правой части экрана.</li>
  <li>Результаты выгрузки можно экспортировать в формате CSV в кодировке UTF-8, нажав на соответствующую кнопку <em>"Экспортировать"</em>.
  </li>
</ol>
<hr>
<p>Спасибо за внимание. Эта страница будет наполняться по мере накопления возможностей сервиса.</p>

{% endblock %}